.navigation-container {
    //display: flex;
    //justify-content: space-between;
    // max-width: $size-max-width;
    // //align-items: center;
    // margin: 0 auto;
    // padding: $space-2xl $size-gutter;
    // position: fixed;
    width: 100%;
    position: fixed;
    z-index: 999;
    .navigation-wrapper{

        margin: $space-2xl $size-gutter;
        background-color: #fff;
        padding: $space-2xl $space-3xl;
        border-radius: 12px;
        
        @media (max-width: 767px) {
            margin: 0;
            border-radius: 0;
        }

        //main nav
        .main-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: $space-3xl;

            border-bottom: solid 0.1px rgba(184, 184, 184, 0.5);
            
            //todo remove when bottom is inactive
            padding-bottom: $space-2xl;
            
            .navigation {
                display: flex;
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 4px;
                justify-content: center;
                gap: $space-3xl;
            }
            
            .navigationItem {
                display: inline-flex;
                align-items: center;
                flex-direction: row;
            }
            
            .navigationItem a {
                border-bottom: 1.5px solid transparent;
                color: currentColor;
                text-decoration: none;
            }
            
            .navigationItem a:hover {
                border-bottom-color: $primary;
                color: $primary;
            }
            
            .logoLink {
                display: flex;
                font-weight: $medium;
                align-items: center;
                flex-direction: row;
                flex-shrink: 0;
                gap: $space-md;
            }
            
            @media (max-width: 767px) {
                .logoLink > span:last-child {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    white-space: nowrap;
                    width: 1px;
                }
            }
        }

        .nav-content{
            margin-top: 60px;
            @media (max-width: 767px) {
                margin-top: 8px;
            }
            padding-bottom: $space-2xl;
            @media (max-width: 767px) {
                padding-bottom: 0;
            }
            .title{
                font-size: 80px;
                font-weight: $bold;
                line-height: 1;
                width: 100%;
                text-align: center;
            
            }
    
            .tagline{
                width: 100%;
                text-align: center;
            }
        }

        
        
    }

    

}
  

  